/* Estilos base */
.panel {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    background: gainsboro;
}

.text-center {
    text-align: center;
    color: blueviolet;
}

table {
    width: 100%;
}

table,
tr,
td {
    border: 1px solid tan;
}

.btn {
    background: blueviolet;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .panel {
        padding: 10px;
    }

    .btn {
        display: block;
        margin: 10px auto;
    }
}
