/* estilos.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.jornada {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.jornada h3 {
    color: #333;
    margin-top: 0;
}

.partido {
    margin-bottom: 10px;
}

.partido:first-child {
    margin-top: 0;
}

.partido:last-child {
    margin-bottom: 0;
}

.selectors {
    margin-bottom: 20px;
}

select, input[type="submit"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

select {
    width: 250px; /* Ajusta el ancho según sea necesario */
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #3498db; /* Azul */
    color: white;
}

/* Estilos para filas alternas */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro para filas pares */
}

/* Estilos al pasar el cursor sobre las filas */
tr:hover {
    background-color: #d6eaf8; /* Azul claro */
}
